.imageContainer {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productTitle,
.label {
  font-family: "Cairo", Arial, sans-serif;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.label {
  font-weight: 400;
  font-size: 14px;
  color: #b2b3b9;
  line-height: 1.5;
}

.brand {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.cellText {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.lowRatingText {
  color: var(--warning);
}

.subprice {
  color: #999999;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
