.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  background: linear-gradient(180deg, #e0e0e0, rgba(0, 0, 0, 0.17));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paperContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  color: #6c6c6c;
  font-size: 18px;
}

.regText {
  color: var(--accent1);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
