.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: linear-gradient(180deg, #e0e0e0, rgba(0, 0, 0, 0.17));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
