.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  background-color: white;
  height: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
