.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.text,
.subtext {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.text {
  color: #969b9f;
}

.subtext {
  color: #333333;
}
