@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800");

:root {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #232323;

  --text-color: #232323;
  --accent1: #242edb;
  --accent2: #3c538e;
  --lightBlue: #367aff;
  --warning: #f11010;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-family: "Cairo", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-family: "Cairo", Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

h6 {
  font-family: "Cairo", Arial, sans-serif;
  font-size: 16px;
}
